header {
	background: #f9f9f9;
}

header .header-logo {
	color: #555;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 3.4px;
	text-decoration: none;
}

.header-topbar {
	background-color: #222222;
	padding: 5px;
}

.header-topbar a {
	color: #ffffff;
	font-size: 96%;
}

.header-topbar a:hover {
	color: #FF7518; 
	text-decoration: none;
}

.header-main {
	padding-top:18px;
	padding-bottom:18px;
	height: 100px;
}

.header-navbar {
	position:relative;
	z-index:1;
}

section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.body {
	margin: 48px 0px 100px 0px;
}

footer {
	padding-top: 40px;
	padding-bottom: 10px;
	color: #bbb;
}

footer h5 {
	color: #fff;
	font-weight: bold;
}

footer ul > li {
	margin-top: 10px;
}

footer a,
footer a:visited {
	color: #bbb;
}

footer a:hover {
	color: #fff;
	text-decoration: none;
}

footer .footer-logo {
	font-size: 9px;
	color: #ffffff;
	letter-spacing: 2px;
}

.text-decoration-none,
.text-decoration-none:hover {
	text-decoration:none;
}


/* /index.php Start */

#homepage-carousel .carousel-indicators {
	position: relative;
	width: 100%;
	margin-left: 0px;
	left: 0%;
	margin-top: 10px;
}

#homepage-carousel .item {
	min-height: 350px;
}

/* / End */

/* This needs to be modified in bootstrap instead of here */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #009ae7;
	color: #fff;
}


.yamm ul.row {
	list-style: none;
}

.yamm-menu {
	list-style: none;
	padding: 20px 0px;
}

.yamm-menu > li {
	margin-bottom: 20px;
}

.yamm-menu > li > span {
	padding: 3px 20px;
	border-bottom: 1px solid #e5e5e5;
	font-weight: 600;
	display: block;
}

.yamm-menu > li:last-child {
	margin-bottom: 0px;
}


.yamm-menu > li > ul {
	list-style: none;
	margin: 2px 0 0;
	padding-left: 0px;
}

.yamm-menu > li > ul > li > a {
	color: #333;
	display: block;
	font-weight: 400;
	line-height: 1.42857;
	padding: 3px 20px;
	white-space: nowrap;
}

.yamm-menu > li > ul > li > a:hover,
.yamm-menu > li > ul > li > a:focus {
   background-color: #009ae7;
   color: #fff;
	text-decoration: none;
}
