/***
Custom classes//for whmcs
***/
/* Tickets */

.ticketdetailscontainer {
    margin: 10px 0 20px 0;
    padding: 15px;
    border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.ticketdetailscontainer .detail {
    margin: 5px 0 0 0;
	padding: 5px 10px 5px;
    background-color: #ffffff;
    font-weight: 600;
	font-size: 1.1em;
	border: 1px dotted #ccc;
}

.ticketreplybox {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #e8e8e8;
}

.ticketmsgs {
    margin: 20px 0;
    padding: 0;
}
.ticket-footer {
    border-bottom: 1px #ddd solid;
    margin: 15px 15px 20px;
    padding-bottom: 10px;
}
.tickets-timestamp {
    float: left;
}
.ticketrating {
    float: right;
}
.ticketmsgs .adminheader {
    margin: 0;
    padding: 5px 10px;
	border-bottom: 1px solid #ddd;
    font-weight: 600;
}
.ticketmsgs .adminmsg {
    margin: 0 10px;
    padding: 10px 15px;
    min-height: 100px;
    border: 1px solid #ddd;
	background-color: #F7FAFD;
    border-top: 0;
}
.ticketmsgs .clientheader {
    margin: 0;
    padding: 5px 10px;
	border-bottom: 1px solid #ddd;
    font-weight: 600;
}
.ticketmsgs .clientmsg {
    margin: 0 10px;
    padding: 10px 15px;
    min-height: 100px;
    border: 1px solid #ddd;
	background-color: #FAF8F1;
    border-top: 0;
}
.ticketmsgs .clientmsg:last-child, .ticketmsgs .adminmsg:last-child {
    border-bottom: 1px solid #ddd;
}

.ticketmsgs .attachments {
    margin: 20px 0 0;
    padding: 5px 0;
    border-top: 1px solid #ddd;
}
.tickets-internalpadding{
    border-left: 1px dotted #ddd;
    padding-left: 15px;
    margin: 0 15px;
}

table.ticketrating {
  display: table;
  width: auto;
  border: 0;
  border-spacing: 1px; /* 2px ? */
  border-collapse: separate;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  /* XXXldb do we want this if we're border-collapse:collapse ? */
  -moz-box-sizing: border-box;
  text-indent: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
table.ticketrating td {
  display: table-cell;
  min-width: 16px;
  line-height: 16px;
  vertical-align: inherit;
  text-align: inherit;
  padding: 0;
  border: 0;
}

table.ticketrating td.point {
    cursor: pointer;
    cursor: hand;
}

table.ticketrating td.star {
    background: url('../../../images/rating_neg.png');
    cursor: pointer;
    cursor: hand;
}

ul.inputs-list li {
	list-style:none;
}

.textleft {
    text-align: left !important;
}

.textright {
    text-align: right !important;
}

.textcenter, .textcenter td {
    text-align: center !important;
}


/* Password Strength */

#pwstrengthbox {
    width: 200px;
    border: 1px solid #ccc;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    color: #9A9A9A;
    font-weight: normal;
}

#pwstrengthbox.strong {
    background-color: #33CC00;
    border: 1px solid #289F00;
    color: #fff;
    font-weight: bold;
}

#pwstrengthbox.moderate {
    background-color: #ff6600;
    border: 1px solid #C44F00;
    color: #fff;
    font-weight: bold;
}

#pwstrengthbox.weak {
    background-color: #cc0000;
    border: 1px solid #9D0000;
    color: #fff;
    font-weight: bold;
}

#languagefrm strong {
    font-weight: normal;
	font-size: 0;
}
.tooltip-inner {
  white-space: nowrap;
}

form .form-actions {
	border-top: 0 none;
}

.tweetbutton {
    float: right;
    margin: 0 0 20px 30px;
}
.blue-tags i {
	color: #78cff8;
}

table.table-bordered tr.tax td {
    font-weight: 600;
	color: #57b5e3;
}

table.table-bordered tr.credit td {
    font-weight: 600;
	color: #3cc051;
}

table.table-bordered tr.total td , table.table-bordered tr.recurring td{
    font-weight: 600;
	color: #ed4e2a;
}

#radioBtn .notActive{
    color: #797979;
    background-color: #fff;
}

.adminreturndiv {
	top: 30px!important;
	z-index: 1030!important;
}

.well h1, .well h2, .well h3 {
	line-height: 1.1;
}

@media (min-width: 992px) {
.mega-menu {
	min-width: 410px!important;
}

