/* open sub menu on hover*/

@media screen and (min-width:768px) {
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
        display: block;
        border-top: 2px solid #1b75ec;
    }
    .navbar-nav .dropdown-menu::before {
        position: absolute;
        z-index: -1;
        top: -10px;
        right: 18px;
        width: 20px;
        height: 20px;
        content: "";
        transform: rotate(45deg);
        background-color: #1b75ec;
        box-shadow: -2px -3px 4px -2px rgba(128, 128, 128, 0.64);
    }
    .navbar-nav {
        text-align: center;
    }
    .dropdown-menu {
        margin-top: 0;
        padding: 0;
    }
    .dropdown-toggle {
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle {
        margin-bottom: 0;
    }
}

@media screen and (max-width:1199px) {
    .nav-meta:last-child {
        width: 150px;
    }
    .domain-block {
        width: 95px;
    }
    .price-palan {
        margin-bottom: 40px;
    }
    .price {
        padding-bottom: 0px;
    }
    .download-block {
        margin: 15px 0px;
    }
    .download-icon {
        text-align: center;
    }
    .download-details {
        padding: 0 20px;
    }
    .layout-1-price-palan {
        margin-bottom: 35px;
    }
    .deal-details {
        width: 100%;
    }
    .nav-pills>li {
        width: 131px;
    }
    .download-block p {
        font-size: 10px;
    }
    .download-block strong {
        font-size: 25px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .faq-category li {
        padding: 5px 0px;
        font-size: 14px;
    }
    .panal-sidebar .panel-body {
        padding: 5px;
    }
    .website-block-group li {
        display: inline-block;
        width: 24%;
    }
    .domain-counter li {
        padding: 15px 5px;
    }
    .getstart .btn {
        padding: 10px 5px;
    }
    .vps-hosting .nav-pills {
        width: 40%;
    }
    .website-block-group:before {
        border-radius: 5px;
    }
    .home-btn a {
        margin-left: 0px;
    }
}

@media screen and (max-width:991px) {
    .valign-wrapper {
        display: block;
    }
    .navbar-nav, .dropdown-menu {
        text-align: center;
    }
    .nav>li>a {
        padding: 25px 5px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }
    p {
        font-size: 13px;
    }
    .mb30 {
        margin-bottom: 15px;
    }
    .mt30 {
        margin-top: 15px;
    }
    .mt40 {
        margin-top: 15px;
    }
    .mt50 {
        margin-top: 20px;
    }
    .mb50 {
        margin-bottom: 10px;
    }
    .sub-heading {
        margin-top: 5px;
        margin-bottom: 20px;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 14px;
        line-height: 20px;
    }
    section {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .dnld{
        padding: 40px 0;
    }
    header {
        padding-top: 10px;
        padding-bottom: 0px;
        text-align: center;
    }
    .btn {
        padding: 5px 10px;
    }
    .domain-block.valign-wrapper, .top-nav .valign-wrapper, .offer-slide .valign-wrapper, .download-block.valign-wrapper, .getstart .valign-wrapper, .technology .valign-wrapper, .footer .valign-wrapper, .modal-dialog .valign-wrapper {
        display: -webkit-flex;
        display: flex;
    }
    .domain-block {
        width: 85px;
    }
    .offer-slider {
        padding: 0 15px 20px;
    }
    .download-icon {
        width: 15%;
    }
    .download-details {
        width: 85%;
    }
    .footer {
        padding-top: 30px;
    }
    .res-hosting {
        padding-top: 40px;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #1b75ec;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    .nav-pills>li, .vps-hosting .nav-pills>li {
        width: auto;
    }
    .nav-pills>li a {
        padding: 0 5px 0 5px;
        color: rgba(27, 117, 236, 0.5);
        border: 2px solid rgba(27, 117, 236, 0);
        background: transparent;
    }
    .blog-meta li:before {
        margin: 0;
    }
    .footer-foram span {
        margin-left: 0;
    }
    .website-build-group:before {
        top: 73%;
        height: 4px;
        background-color: #1b75ec;
        background-image: none;
    }
    .btn-mob {
        text-align: center;
    }
    .btn-search {
        top: 31px;
    }
    .faq-slide {
        margin-top: -25px;
    }
    .vps-hosting-block {
        margin-top: 10px;
    }
    .hosting-build .text-center {
        text-align: left;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .hosting-currency {
        vertical-align: bottom;
    }
    .vps-hosting-block {
        padding: 27px;
    }
    .blog-tag li {
        margin-left: 5px;
    }
}

@media screen and (max-width:767px) {
    .navbar {
        padding: 0px;
    }
    .faq-slide-block h3 {
        margin-top: 40px;
    }
    .nav>li>a {
        padding: 10px 5px;
    }
    .top-nav {
        text-align: center;
    }
    .technology .valign-wrapper, .footer .valign-wrapper, .top-nav .valign-wrapper {
        display: block;
    }
    .features-block {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        border-left: none;
    }
    .features {
        padding-bottom: 15px;
    }
    .features-block:first-child {
        border-top: none;
    }
    .features .sub-heading {
        margin-bottom: 0px;
    }
    .features-block:last-child {
        border-bottom: none;
    }
    .video {
        padding: 70px 0;
    }
    .footer h4, .img-blog {
        margin-top: 20px;
    }
    .social-link, .licence, .top-nav .text-right, .blog-sociallink, .blog-tag {
        text-align: center;
    }
    .deal-block {
        border-left: none;
    }
    .deal-block:last-child {
        border-top: 1px solid #ccc;
    }
    .domain-counter li {
        padding: 0 4px;
    }
    .domain-counter li {
        display: block;
        padding: 15px;
        border-top: 1px solid #00b9f5;
    }
    .domain-counter li:first-child {
        border-top: 1px solid transparent;
    }
    .domain-counter li:before {
        content: "";
    }
    .fotter-contact-no {
        font-size: 35px;
    }
    .nav-meta {
        height: 25px;
        padding: 0px;
    }
    .img-comment-avtar {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .vps-hosting-table>tbody>tr>td, .vps-hosting-table>tbody>tr>th, .domain-table>tbody>tr>td, .domain-table>tbody>tr>th, .domain-table>tfoot>tr>td, .domain-table>tfoot>tr>th, .domain-table>thead>tr>td, .domain-table>thead>tr>th {
        padding: 7px;
    }
    .vps-hosting .nav-pills {
        width: 45%;
    }
    .img-hosting-build {
        width: 35%;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    .download-block {
        float: left;
        width: 46%;
        padding: 15px 0;
        margin-left: 3%;
    }
    .download-icon {
        width: 25%;
    }
    .download-details {
        width: 75%;
        padding: 0 12px;
    }
    .technology-block img {
        width: 30%;
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
        line-height: 1.5;
    }
    .offer-slide .valign-wrapper, .getstart .valign-wrapper, .top-nav .valign-wrapper, .technology .valign-wrapper, .blog-meta li {
        display: block;
    }
    .download-icon {
        width: 20%;
    }
    .video-play {
        transform: scale(0.7);
    }
    .hosting-block {
        padding: 0 15px;
    }
    .offer-slide {
        text-align: center;
    }
    .download-details {
        width: 80%;
    }
    .home-btn a {
        margin: 20px 0;
    }
    .search-box .btn span, .nav-meta span {
        display: none;
    }
    .search-box .btn:after {
        content: "\f002";
        font-family: "FontAwesome";
        font-size: 17px;
    }
    .nav-meta, .nav-meta:last-child {
        width: auto;
        border-top: 1px solid #dedede;
        border-right: none;
    }
    .fotter-contact-no {
        margin-top: 5px;
        font-size: 18px;
    }
    .nav-pills, .vps-hosting .nav-pills {
        width: 100%;
    }
    .vps-hosting .nav-pills>li {
        width: auto;
    }
    .blog-meta li::before {
        content: "";
    }
    .domain-service-block {
        margin: 15px 10px;
        padding: 10px;
    }
    .blog-tag li {
        margin-left: 0;
        padding: 0px 5px;
        border: 1px solid transparent;
    }
    .breadcrumb {
        padding: 0;
    }
    .technology-block img {
        width: 40%;
    }
}

@media screen and (max-width:320px) {
    .download-block {
        padding: 0px;
    }
    .video {
        padding: 30px 0;
    }
    .search-box .form-control {
        padding: 21px 10px 23px 15px;
        font-size: 16px;
    }
}
