/*
    01 . General
    02 . menu
    03 . home
    04 . search
    05 . features
    06 . offer
    07 . hosting
    08 . price
    09 . faq
    10 . download
    11 . getstarted
    12 . client
    13 . footer
    14 . deal
    15 . contact
    16 . about
    17 . team
    18 . faq
    19 . web bilding
    20 . video
    21 . technology
    22 . blog
    23. Warning
*/


/*
01 . General CSS start
*/

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

a, a:hover {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

*:focus {
    outline: none !important;
}

p {
    letter-spacing: 0.4px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

h2 strong {
    font-weight: 700;
}

h3 {
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

h6 {
    font-size: 12px;
}

section {
    padding-top: 40px;
    padding-bottom: 60px;
}

blockquote {
    border-left: 5px solid #1b75ec;
}

.text-theme {
    color: #1b75ec;
}

.text-theme-alternate {
    color: #151525;
}

.text-theme-alternate-lite {
    color: #FFF;
}

.text-white {
    color: #fff;
}

.theme-background {
    background-color: #1b75ec;
}

.theme-background-alternate {
    background-color: #86c724;
}

.theme-background-alternate-lite {
    background-color: #f1f1f1;
}

.btn {
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    border-radius: 0px;
    font-size: 18px;
}

.btn-default-theme {
    color: #1b75ec;
    border: 1px solid #1b75ec;
    background-color: #fff;
}

.btn-default-theme:hover, .btn-default-theme:active, .btn-default-theme:focus {
    color: #fff;
    border: 1px solid #fff;
    background-color: #1b75ec;
}

.btn-theme {
    color: #fff;
    border: 1px solid #1b75ec;
    background-color: #1b75ec;
}

.btn-theme:hover, .btn-theme:active, .btn-theme:focus {
    color: #1b75ec;
    background-color: #fff;
}

.btn-theme-alternate {
    color: #fff;
    border: 1px solid #151525;
    background-color: #151525;
}

.btn-theme-alternate:hover, .btn-theme-alternate:active, .btn-theme-alternate:focus {
    color: #fff;
    border: 1px solid #1b75ec;
    background-color: #1b75ec;
}

.btn-mob {
    text-align: right;
}

.theme-badge {
    position: absolute;
    z-index: 100;
    width: 145px;
    height: 145px;
    color: #fff;
    border-radius: 50%;
    background-color: #86c724;
}

.theme-badge strong {
    display: block;
    font-size: 32px;
    line-height: 1.5;
}

.valign-wrapper {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.sub-heading {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 25px;
}

.title h2 {
    text-transform: capitalize;
}

.title .bottom-bar {
    width: 80px;
    height: 4px;
    margin: 0 auto;
    background-color: #1b75ec;
}

.sitemap {
    background: transparent;
    font-size: 18px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.p0 {
    padding: 0px;
}

.m0 {
    margin: 0px;
}

.m10 {
    margin: 0px;
}

.m50 {
    margin: 50px;
}

.page-title {
    padding: 35px 0;
}


/*Form control start*/

.form-material .form-group {
    position: relative;
}

.form-material .form-control {
    display: inline-block;
    width: 100%;
    height: 43px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0 !important;
    background-color: transparent;
    box-shadow: none;
    font-size: 16px;
    font-weight: 400;
}

.form-material textarea {
    height: 120px !important;
    margin-bottom: -4px;
}

.form-material .form-bar {
    position: relative;
    display: block;
    width: 100%;
}

.form-material .form-bar:before {
    left: 50%;
}

.form-material .form-bar:before, .form-material .form-bar:after {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    content: '';
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.form-material .form-bar:after {
    right: 50%;
}

.form-material .float-label {
    top: 12px;
    left: 0;
    pointer-events: none;
    font-size: 14px;
}

.form-material label {
    position: absolute;
    top: -18px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.form-material .form-control:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.form-material .form-control:focus~.form-bar:before, .form-material .form-control:focus~.form-bar:after {
    width: 50%;
}

.form-material .form-control:focus~.form-bar:before, .form-material .form-control:focus~.form-bar:after {
    background: #1b75ec;
}

.form-material .form-control:focus~.float-label, .form-material .form-control:valid~.float-label {
    top: -10px;
    font-size: 11px;
}

.form-material .form-control:focus~label {
    color: #1b75ec;
}

.set-submit-input {
    width: 100%;
    text-align: center;
}

.set-submit-box {
    display: inline-block;
    width: 100%;
    margin-right: 15px;
}

.set-submit-box button {
    margin-top: 10px;
    padding: 10px;
}

.contact-form.form-material label {
    color: #fff;
}


/* form controll end*/


/* owl-carousel start */

.owl-next, .owl-prev {
    position: absolute;
    top: 47%;
    display: inline-block;
    width: 30px;
    text-align: center;
    border: 1px solid #151525;
    border-radius: 50%;
    font-size: 20px;
}

.owl-next {
    right: -40px;
}

.owl-prev {
    left: -40px;
}

.owl-next i {
    margin-left: 4px;
}

.owl-prev i {
    margin-right: 2px;
}

.faq-slide .owl-next {
    right: 5px;
}

.faq-slide .owl-prev {
    left: 5px;
}


/* owl-carousel end */

.particle-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sign-in-model {
    border-radius: 0px;
}

.sign-in-controls {
    padding: 0 30px 30px 30px;
    background: #fff;
}

.sign-in-controls .modal-header .close {
    position: absolute;
    top: 10px;
    right: 15px;
    opacity: 1;
    font-size: 35px;
}

.modal {
    padding-left: 17px;
}

.sign-in-controls .nav-pills>li {
    width: 88px;
    margin: 0px -2px;
}

.sign-in-model .checkbox {
    margin: 25px 0;
}

.sign-in-model .nav-pills>li.active>a, .sign-in-model .nav-pills>li.active>a:focus, .sign-in-model .nav-pills>li.active>a:hover {
    color: #000;
    border-bottom: 2px solid #1b75ec;
}

.sign-in-model .nav-pills>li a {
    color: #000;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
}


/* loader */

.loader-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.loader-main {
    position: fixed;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    animation: move 1s infinite linear;
}

.mainloader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 25px solid transparent;
    /*#1b75ec;*/
    border-bottom: 25px solid transparent;
}

.inner-loader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 25px solid #68a9ff;
    border-right: 25px solid #68a9ff;
}

.small-loader-main {
    width: 150px;
    height: 150px;
    position: fixed;
    margin: 25px 0 0 25px;
    animation: moveinverce 0.5s infinite linear;
}

.small-loader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 25px solid transparent;
    /*#86c724;*/
    border-bottom: 25px solid transparent;
}

.small-loader-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 25px solid #b7ff4c;
    border-right: 25px solid #b7ff4c;
}

.loader-img {
    width: 70%;
    margin: 15px;
    animation: move 1s infinite linear;
}

@keyframes unmove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes moveinverce {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
01 . General CSS End
*/


/*
02 . nav section start
*/

.top-nav {
    padding: 0px;
}

.navbar {
    z-index: 1000;
    border-radius: 0px;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.5);
    /*height: 75px;*/
}

.navbar-toggle {
    margin: 20px 15px 20px 0;
}

.support-text {
    margin: 5px 0;
}

.navbar-collapse.in {
    overflow-y: visible;
    background-color: #fff;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
}

.dropdown-menu {
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.5);
}

.icon-bar {
    background-color: #fff;
}

.navbar-nav li a, .dropdown-menu li a {
    padding: 25px 15px;
    text-transform: capitalize;
    color: #222;
    font-weight: 600;
}

.navbar-nav i {
    font-size: 25px;
}

.nav-meta {
    display: inline-block;
    width: 140px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #dedede;
}

.nav-meta:last-child {
    width: 200px;
    border-right: 1px solid transparent;
}

.nav-meta i {
    padding: 0 5px;
}

.nav-sociallink {
    padding-left: 0px;
    list-style: none;
    font-size: 15px;
}

.nav-sociallink li {
    display: inline-block;
}

.navbar-nav .badge {
    position: absolute;
    top: -5px;
    right: -15px;
    background-color: #fff;
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.nav>.active>a, .nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav .active, .navbar-nav .dropdown-menu .active a {
    color: #1b75ec;
    background-color: #fff;
}

.navbar-nav .dropdown-menu li a {
    padding: 6px 25px;
    color: #000;
    background-color: #fff;
}

.navbar-nav .dropdown-menu li a:hover {
    color: #1b75ec;
    background-color: #fff;
}


/*
02 . nav section end
*/


/*
03 . home section start
*/

.home-feature {
    padding-left: 0px;
}

.home-feature li {
    padding: 5px;
    list-style: none;
    font-size: 17px;
}

.home-feature li:before {
    margin-right: 10px;
    content: "\f00c";
    color: #1b75ec;
    font-family: "FontAwesome";
    font-size: 17px;
}

.home-btn a {
    margin-left: 10px;
}

.home-badge {
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 20px;
}

.img-home {
    width: 100%;
}

.home-avtar {
    width: 85%;
}

.background-layer, .background-layer-theme, .background-layer-dark {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background-layer {
    background: rgba(256, 256, 256, 1);
}

.background-layer-theme {
    background: rgba(27, 117, 236, 0.9);
}

.background-layer-dark {
    background: rgba(0, 0, 0, 0.7);
}

.sitemap a:hover {
    color: #fff;
    opacity: 0.5;
}


/*
03 . home section end
*/


/*
04 . search section start
*/

.search {
    position: relative;
}

.search-box .form-control {
    float: left;
    width: 100%;
    padding: 21px 10px 23px 21px;
    border-radius: 0px;
    font-size: 20px;
}

.search-bg-icon {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
}

.search-box .btn {
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 5px 9px 4px;
}

.domain-block-group {
    display: flex;
    float: none;
    margin: 0 auto;
    justify-content: space-around;
}

.domain-block {
    width: 140px;
    height: 120px;
    text-align: center;
}

.domain-block span {
    display: block;
    font-weight: 500;
}

.domain-block p, .domain-block a {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
}

.domain-counter {
    padding-left: 0px;
    list-style: none;
}

.domain-counter li {
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.domain-counter li:before {
    margin-right: 20px;
    content: "|";
    color: #00b9f5;
}

.domain-counter li:first-child:before {
    content: "";
}


/* layout 1*/

.layout-1-domin-block {
    margin: 5px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.layout-1-domin-block:hover i {
    color: #1b75ec;
}

.layout-1-block-heading {
    padding: 5px;
    text-transform: uppercase;
}

.layout-1-block-body {
    padding: 10px;
}

.layout-1-block-body i {
    transition: all 0.3s ease-in-out;
    font-size: 25px;
}

.layout-1-block-price {
    display: block;
    font-size: 40px;
}

.nav-pills {
    width: 60%;
    margin: 0 auto;
}

.nav-pills>li {
    display: inline-block;
    width: 150px;
    margin: 0;
}

.domin-table-block td {
    background-color: #fff;
}

.domain-table>tbody>tr>td, .domain-table>tbody>tr>th, .domain-table>tfoot>tr>td, .domain-table>tfoot>tr>th, .domain-table>thead>tr>td, .domain-table>thead>tr>th {
    padding: 20px;
    text-align: center;
    border-top: none;
}

.nav-pills>li a {
    text-align: center;
    border: 2px solid #1b75ec;
    border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #1b75ec;
    background-color: #fff;
}

.domain-service-block {
    margin: 15px 0;
    padding: 30px;
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
}

.domain-service-block, .domain-service-block img {
    transition: all 0.3s ease-in-out;
}

.domain-service-block:hover {
    transform: scale(1.1);
}

.domain-service-block:hover img {
    transform: rotate(18deg);
}

.domain-service-block p {
    margin: 16px 10px 0 10px;
    text-transform: uppercase;
    font-size: 18px;
}


/*
04 . search section end
*/


/*
05 . features section start
*/

.feature-group {
    border-top: 1px solid #e7e7e7;
}

.features-block {
    padding: 35px;
    border-left: 1px solid #e7e7e7;
}

.img-features {
    transition: all 0.5s ease-in-out;
}

.features-block:hover .img-features {
    /*transform:scale(1.1) rotate(25deg);*/
    animation: bounceIn .6s ease-in-out;
}

.features-block:first-child {
    border-left: 1px solid transparent;
}


/*
05 . features section end
*/


/*
06 . offer section start
*/

.offer-slider {
    margin: 5px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}


/*
06 . offer section end
*/


/*
07 . hosting section start
*/

.hosting-block {
    padding: 0 45px;
}

.img-hosting1, .img-hosting2 {
    position: absolute;
    width: 40%;
}

.img-hosting1 {
    right: 0;
}

.img-hosting2 {
    left: 0;
}

.hosting-package-block {
    width: 125px;
    padding-top: 5px;
    border: 1px solid #1b75ec;
}

.hosting-package-block span {
    display: block;
    font-size: 25px;
    font-weight: 600;
}

.hosting-feature {
    padding-left: 0px;
}

.hosting-feature li {
    padding: 3px;
    list-style: none;
}

.hosting-feature li:before {
    margin-right: 5px;
    content: "\f00c";
    color: #1b75ec;
    font-family: "FontAwesome";
    font-size: 17px;
}


/* layout 1 */

.hosting-badge {
    right: -150px;
    bottom: 40px;
    padding: 20px;
    font-size: 20px;
}

.hosting-badge.alternet {
    bottom: 170px;
    left: -400px
}


/* hosting page */

.hosting-build {
    padding: 0;
}

.img-hosting-build {
    width: 80%;
}

.hosting-build-list {
    padding-left: 0px;
    list-style: none;
}

.hosting-build-list li {
    margin-left: 40px;
    padding: 5px;
}

.hosting-build-list li:before {
    position: absolute;
    left: 20px;
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 20px;
}

.vps-hosting-block {
    position: relative;
    overflow: hidden;
    margin-top: 35px;
    padding: 35px;
}

.vps-hosting-block .counter {
    font-size: 52px;
}

.hosting-currency {
    vertical-align: super;
    font-size: 25px;
}

.vps-hosting-list {
    padding-left: 0px;
    list-style: none;
}

.vps-hosting-list li {
    padding: 5px 0;
}

.vps-hosting-list li:before {
    margin-right: 10px;
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 17px;
}

.vps-hosting .nav-pills>li {
    display: inline-block;
    width: 180px;
    margin: 0;
}

.vps-hosting .nav-pills {
    width: 35%;
}

.vps-hosting-table>tbody>tr>th {
    padding: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    border: none;
    border-top: none;
    font-size: 25px;
}

.vps-hosting-table>tbody>tr>td {
    padding: 15px;
    background: #fff;
}

.vps-hosting-table>tbody>tr:last-child>td {
    padding: 0 15px 15px 15px;
}

.vps-hosting-table td:first-child {
    text-align: left;
}

.vps-hosting-table strong {
    font-size: 40px;
}

.table-bordered {
    border: 1px solid #f1f1f1;
}

.img-reseller-hosting {
    position: absolute;
    right: 0;
    width: 50%;
}

.reseller-hosting-badge {
    right: -230px;
    bottom: 110px;
    padding: 20px;
    font-size: 20px;
}

.reseller-hosting-build-list {
    padding-left: 0px;
}

.reseller-hosting-build-list li {
    padding: 10px 0;
    list-style: none;
}

.reseller-hosting-build-list li:before {
    margin-right: 10px;
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 17px;
}


/*
07 . hosting section end
*/


/*
08 . price section start
*/

.price-palan {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 1px #ccc;
}

.price-palan:hover {
    transform: scale(1.05);
}

.price-palan:hover .plan_title, .price-palan:hover .price_package, .price-palan:hover .btn {
    color: #fff;
    background-color: #1b75ec;
}

.price-palan:hover .price_package, .price-palan:hover .btn {
    border: 1px solid #1b75ec;
}

.plan_title {
    padding: 1px 0 10px 0;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.price_package {
    width: 125px;
    margin: 0 auto;
    padding: 25px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #151525;
    border-radius: 50%;
}

.price_package span {
    font-size: 25px;
    font-weight: 800;
}

.price_package p {
    margin: 5px 0;
}

.plane-details {
    padding: 0px 20px;
}

.plane-details li {
    padding: 10px 0px;
    list-style: none;
    border-top: 1px solid #ccc;
}

.plane-details li:first-child {
    border-top: 1px solid transparent;
}


/* layout 1 */

.layout-1-price-palan {
    position: relative;
    overflow: hidden;
    padding: 20px 50px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px #ccc;
}

.layout-1-price-palan:hover {
    transform: scale(1.05);
}

.plan-body {
    padding-bottom: 20px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.layout-1-price-palan strong {
    font-size: 40px;
    font-weight: 800;
}

.layout-1-badge {
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -50px;
    width: 145px;
    height: 70px;
    padding-top: 39px;
    transform: rotate(45deg);
    color: #fff;
    background-color: #86c724;
}


/*
08 . price section end
*/


/*
09 . faq section start
*/

.faq-accordion .panel {
    margin: 0;
    border-width: 0px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 0px 0px 1px 0px #ccc;
}

.faq-accordion .title {
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.faq-accordion .title a:hover i, .faq-accordion .title a[aria-expanded="true"] i {
    color: #fff;
}

.faq-accordion .title a:hover, .faq-accordion .title a[aria-expanded="true"] {
    text-decoration: none;
    color: #fff;
    border-color: #ddd;
    background-color: #1b75ec;
}

.faq-accordion .title a {
    position: relative;
    display: block;
    margin: 15px 0px 0px 0px;
    padding: 10px 10px 10px 50px;
    text-decoration: none;
    color: #222;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    background-color: #fff;
}

.faq-accordion .title a:hover p, .faq-accordion .title a[aria-expanded="true"] p {
    color: #222;
    font-size: 18px;
}

.faq-accordion .title a p {
    color: #ddd;
    font-size: 10px;
}

.faq-accordion .desc {
    padding: 10px 20px 0px;
    color: #000;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
}

.faq-accordion .title a[aria-expanded="true"]:hover::before, .faq-accordion .title a[aria-expanded="true"]::before {
    content: "\f068";
}

.faq-accordion .title a::before {
    position: absolute;
    top: 20%;
    left: 20px;
    content: "\f067";
    font-family: 'FontAwesome';
    font-size: 20px;
}

.faq-block {
    margin: 30px 0;
    padding: 20px 41px;
    box-shadow: 0px 0px 1px 0px #ccc;
}

.faq-img {
    width: 100px !important;
    margin: 0 auto;
    border-radius: 50%;
}


/*
09 . faq section end
*/


/*
10 . download section start
*/
.dnld{
    padding: 60px 0;
}
.download-block {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px #ccc;
}

.download-icon {
    float: left;
    width: 40px;
    width: 20%;
    color: #1b75ec;
    border-right: 1px solid #151525;
    font-size: 30px;
}

.download-details {
    float: right;
    width: 80%;
    padding: 0 15px;
}

.download-block strong {
    font-size: 40px;
    font-weight: 800;
}


/*
10 . download section end
*/


/*
11 . getstarted section start
*/

.getstart h3 {
    text-transform: uppercase;
}

.getstart span {
    text-transform: capitalize;
}

.getstart strong {
    font-size: 30px;
}


/*
11 . getstarted section end
*/


/*
12 . client section start
*/

.client-slide img {
    width: 100px !important;
    height: 80px;
    margin: 0 auto;
}


/*
12 . client section end
*/


/*
13 . footer section start
*/

.footer {
    padding-bottom: 0px;
}

.footer-address, .footer-menu, .social-link {
    padding-left: 0px;
    list-style: none;
}

.footer-address li {
    padding: 5px 0;
}

.footer-menu a, .footer-address a {
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.footer-menu a:hover, .footer-address a:hover {
    opacity: 0.5;
}

.footer-address i {
    width: 25px;
    text-align: center;
    font-size: 18px;
}

.footer-menu li:before {
    left: 0;
    margin-right: 10px;
    content: "\f101";
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 20px;
}

.social-link li {
    display: inline-block;
}

.social-link i {
    width: 30px;
    margin-right: 5px;
    padding: 6px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    color: #222;
    border: 1px solid #222;
    border-radius: 50%;
    font-size: 15px;
}

.social-link i:hover {
    transform: rotate(45deg);
    color: #fff;
    border: 1px solid #1b75ec;
    background-color: #1b75ec;
}

.footer-foram {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #fff;
}

.footer-foram span {
    margin-left: 100px;
}

.fotter-contact-no {
    display: block;
    font-size: 40px;
}

.footer-earphone {
    position: absolute;
}


/*
13 . footer section end
*/


/*
14 . deal section start
*/

.deal-title, .deal {
    position: relative;
}

.deal-content {
    padding: 0;
}

.deal-title {
    padding: 35px 0;
}

.deal-head {
    padding: 0;
}

.img-deal {
    float: right;
    width: 40%;
}

.deal-details {
    float: left;
    width: 60%;
}

.deal-block {
    padding: 19px 0 19px 20px;
    border-left: 1px solid #ccc;
}

.deal-block:first-child {
    border-left: 1px solid transparent;
}

.deal-block-group {
    border-top: 1px solid #ccc;
}

.deal-badge span {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
}

.web-deal-badge {
    right: 180px;
    bottom: 30px;
    padding: 20px;
    font-size: 20px;
}

.deal-block {
    overflow: hidden;
}

.deal-badge {
    position: absolute;
    top: 25px;
    right: -58px;
    width: 200px;
    transform: rotate(45deg);
}

.deal-package, .deal-top-package {
    width: 100px;
    height: 100px;
}

.deal .background-layer {
    background: rgba(255, 255, 255, 0.8);
}


/*
14 . deal section end
*/


/*
15 . contact us section start
*/

.map {
    width: 100%;
    height: 480px;
}

.contact i {
    width: 85px;
    height: 85px;
    padding: 27px 0px;
    color: #fff;
    border-radius: 50%;
    background-color: #1b75ec;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.address {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 1px 0px #ccc;
    transition: all 0.3s ease-in-out;
}

.address:hover i {
    color: #1b75ec;
    background-color: #fff;
}

.address:hover {
    background-color: #1b75ec;
    color: #fff;
}


/*
15 . contact us section end
*/


/*
16 . about us section start
*/

.img-about {
    width: 100%;
}

.about-list {
    padding-left: 0px;
    list-style: none;
}


/*
16 . about us section end
*/


/*
17 . team section start
*/

.team-block {
    margin-bottom: 20px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 5px 1px #ccc;
}

.img-team {
    width: 100%;
}

.team-img-block {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.3s;
    -webkit-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
    background-color: rgba(0, 0, 0, 0.4);
}

.team-img-block:hover .team-hover {
    -webkit-transform: scale(1.0) rotate(180deg);
    transform: scale(1.0) rotate(180deg);
}

.team-social-link {
    padding-left: 0px;
    list-style: none;
}

.team-social-link li {
    display: inline-block;
}

.team-block h4 {
    margin-top: 25px;
    text-transform: uppercase;
}

.team-social-link li i {
    padding: 0 5px 10px 5px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
}

.team-social-link li i:hover {
    transform: rotate(15deg);
    color: #1b75ec;
}


/*
17 . team section end
*/


/*
18 . faq section start
*/

.faq-category {
    padding-left: 0px;
    list-style: none;
}

.faq-category li {
    padding: 5px;
}

.panal-sidebar {
    margin-top: 15px;
}

.panal-sidebar .panel-body {
    padding: 5px 0;
}

.faq-category li a {
    transition: all 0.3s ease-in-out;
    color: #151525;
}

.faq-category li a:hover {
    color: #1b75ec;
}

.faq-category li:hover:before {
    color: #1b75ec;
}

.faq-category li:before {
    margin-right: 10px;
    content: "\f111";
    transition: all 0.3s ease-in-out;
    color: #777;
    font-family: "FontAwesome";
    font-size: 10px;
}


/*
18 . faq section end
*/


/*
19 . web bilding section start
*/

.web-block, .web-block-alternate {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
}

.web-block:before, .web-block-alternate:before {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: 0 0 0 -10px;
    content: "";
    transform: rotate(45deg);
    background: #fff none repeat scroll 0 0;
}

.web-block:before {
    bottom: -8px;
    box-shadow: 3px 2px 4px -2px rgba(128, 128, 128, 0.64);
}

.web-block-alternate {
    margin-top: 150px;
}

.web-block-alternate:before {
    top: -8px;
    box-shadow: -2px -3px 4px -2px rgba(128, 128, 128, 0.64);
}

.web-point-start, .web-point-end {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    -webkit-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #1b75ec;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.web-point-start {
    left: 0;
}

.web-point-end {
    right: 0;
}

.web-icon, .web-icon-alernate {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    -webkit-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
    text-align: center;
    color: #fff;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background-color: #1b75ec;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    font-size: 45px;
}

.web-icon {
    top: 50px;
}

.web-icon-alernate {
    top: 80px;
}

.web-block-bg {
    background-image: url("../images/line.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@-webkit-keyframes blink {
    0% {
        box-shadow: 0 0 5px 2px rgba(27, 117, 236, 0.5);
    }
    50% {
        box-shadow: 0 0 10px 2px rgba(27, 117, 236, 1);
    }
    100% {
        box-shadow: 0 0 5px 2px rgba(27, 117, 236, 0.5);
    }
}

@keyframes blink {
    0% {
        box-shadow: 0 0 5px 2px rgba(27, 117, 236, 0.5);
    }
    50% {
        box-shadow: 0 0 10px 2px rgba(27, 117, 236, 1);
    }
    100% {
        box-shadow: 0 0 5px 2px rgba(27, 117, 236, 0.5);
    }
}


/* layout 1 */

.website-block-group, .website-build-group {
    position: relative;
    padding-left: 0px;
    list-style: none;
}

.website-block-group:before {
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100%;
    height: 11px;
    margin: -5px 0 0 0;
    content: "";
    background-color: #1b75ec;
}

.website-build-group:before {
    position: absolute;
    top: 26%;
    width: 100%;
    height: 105px;
    content: "";
    background-image: url("../images/line.png");
    background-size: 100%;
    z-index: -1;
}

.website-block-group li, .website-build-group li {
    display: inline-block;
}

.website-block-group li {
    width: 24.8%;
}

.website-build-group li {
    width: 33.1%;
}

.website-block, .website-block-alternate {
    position: relative;
    width: 255px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
}

.website-block:before, .website-block-alternate:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: 0 0 0 -10px;
    content: "";
    transform: rotate(45deg);
    background: #fff none repeat scroll 0 0;
}

.website-block:before {
    bottom: -8px;
    box-shadow: 3px 2px 4px -2px rgba(128, 128, 128, 0.64);
}

.website-block-alternate:before {
    top: -8px;
    box-shadow: -3px -2px 4px -2px rgba(128, 128, 128, 0.64);
}

.website-icon {
    position: relative;
    width: 90px;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 35%;
    padding: 5px;
    -webkit-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
    text-align: center;
    border: 5px solid rgba(27, 117, 236, 1);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    font-size: 45px;
}

.website-build-group .website-icon {
    margin: 30px auto;
    border: 5px solid rgba(256, 256, 256, 0.5);
    background-color: rgba(27, 117, 236, 1);
}

.website-block-group li:nth-child(odd) {
    position: relative;
    top: -150px;
}

.website-block-group li:nth-child(even) {
    padding-top: 150px;
}

.website-build-group li:nth-child(odd) {
    position: relative;
    top: -70px;
}

.website-build-group li:nth-child(even) {
    padding-top: 26px;
}

.website-point-start, .website-point-end {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 0;
    border-radius: 50%;
    background-color: #1b75ec;
}

.website-point-start {
    top: 72%;
    left: -10px;
}

.website-point-end {
    top: 50%;
    right: -10px;
}

.img-website {
    width: 50%;
}

.owl-carousel .owl-item .website-icon {
    margin: 25px auto;
}

.owl-carousel .owl-item .website-icon img {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}


/*
19 . web bilding section end
*/


/*
20 . video section start
*/

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.video-bg, .video-bg canvas {
    z-index: -1;
}

.video {
    padding: 160px 0;
}

.video-play {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding-left: 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    font-size: 40px;
}

.video-play:hover {
    transform: scale(1.3);
    color: #1b75ec;
}


/*
20 . video section end
*/


/*
21 . technology section start
*/

.technology-block {
    margin-top: 33px;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.technology-block:hover {
    transform: scale(1.04);
}

.technology-block:hover img {
    transform: rotate(15deg);
}

.img-technology {
    position: absolute;
    top: 70px;
    right: 100px;
}

.technology-block img {
    width: 70%;
    transition: all 0.3s ease-in-out
}


/*
21 . technology section end
*/


/*
22 . blog section start
*/

.blog {
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #e7e7e7;
}

.blog-date {
    position: absolute;
    right: 30px;
    bottom: 5px;
}

.blog-meta {
    padding-bottom: 10px;
    padding-left: 0;
    list-style: none;
    border-bottom: 2px solid #e7e7e7;
}

.blog-meta li {
    display: inline-block;
}

.blog-meta li:before {
    margin: 0 10px;
    content: "|";
    color: #ccc;
}

.blog-meta li:first-child:before {
    margin: 0;
    content: "";
}

.blog-meta li i {
    margin: 0 5px;
    font-size: 18px;
}

.img-blog {
    width: 100%;
}

.blog-sociallink, .blog-tag {
    padding-left: 0;
    list-style: none;
}

.blog-sociallink li, .blog-tag li {
    display: inline-block;
    padding: 0 5px;
}

.blog-tag li i {
    font-size: 25px;
}

.blog-tag li {
    margin-left: 10px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #777;
}

.blog-tag li:nth-child(1n+2):hover {
    border: 1px solid #1b75ec;
    background-color: #1b75ec;
}

.blog-tag li:nth-child(1n+2):hover a {
    color: #fff;
}

.blog-tag li:first-child {
    margin-left: 0px;
    border: none;
}

.blog-sociallink li i {
    width: 35px;
    height: 35px;
    padding-top: 8px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    color: #c4c4c4;
    border-radius: 50%;
    background-color: #f1f1f1;
    font-size: 20px;
}

.blog-sociallink li i:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    background-color: #1b75ec;
}

.img-blog-author {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.blog-author {
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
}

.blog-subheading {
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
}

.img-comment-avtar {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    border-radius: 50%;
}

.blog-comment i {
    margin: 0 10px;
}

.blog-comment .media {
    padding-top: 30px;
    border-top: 2px solid #e7e7e7;
}

.txt-search {
    width: 100%;
}

.btn-search {
    position: absolute;
    top: 45px;
    right: 20px;
    border: none;
    background-color: transparent;
}

.blog-sidebar-list {
    padding-left: 0px;
    list-style: none;
}

.blog-sidebar-list li:before {
    margin-right: 10px;
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 10px;
}

.blog-sidebar-media {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.blog-sidebar-media img {
    width: 85px;
}

.blog-sidebar-media i {
    margin-right: 10px;
}

.instagram-img img {
    margin-top: 5px;
}

.tweet {
    padding: 30px 60px 30px 30px;
}

.tweet a {
    color: #fff;
}

.tweet a:hover {
    opacity: 0.5;
}

.tweet-icon {
    opacity: 0.2;
    font-size: 60px;
}

.tweet-meta {
    padding-left: 0px;
    list-style: none;
}

.tweet-meta li {
    display: inline-block;
}

.tweet-meta i, .tweet-meta span {
    margin: 0 10px 0 0;
    transition: all 0.3s ease-in-out;
}

.tweet-meta a:hover i {
    transform: rotate(360deg);
}


/*
22 . blog section end
*/


/*Warning CSS Starts*/

.ie-warning {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    padding: 50px 0;
}

.ie-warning p {
    font-size: 17px;
}

.ie-warning .iew-container {
    min-width: 1024px;
    width: 100%;
    height: 200px;
    background: #fff;
    margin: 50px 0;
}

.ie-warning .iew-download {
    list-style: none;
    padding: 30px 0;
    margin: 0 auto;
    width: 720px;
}

.ie-warning .iew-download>li {
    float: left;
    vertical-align: top;
}

.ie-warning .iew-download>li>a {
    display: block;
    color: #000;
    width: 140px;
    font-size: 15px;
    padding: 15px 0;
}

.ie-warning .iew-download>li>a>div {
    margin-top: 10px;
}

.ie-warning .iew-download>li>a:hover {
    background-color: #eee;
}


/*Warning CSS Ends*/
