admin_passwd        =   |admin_passwd|
administrivia       =   |administrivia|
advertise           <<  END

END
announcements       =   yes
approve_passwd      =   |approve_passwd|
archive_dir         =
comments            <<  END

END
date_info           =   yes
date_intro          =   yes
debug               =   no
description         =   |description|
digest_archive      =
digest_issue        =   |digest_issue|
digest_maxdays      =   |digest_maxdays|	
digest_maxlines     =   |digest_maxlines|
digest_name         =   |NAME|
digest_rm_footer    =
digest_rm_fronter   =
digest_volume       =   |digest_volume|
digest_work_dir     =
get_access          =   |get_access|
index_access        =   |index_access|
info_access         =   |info_access|
intro_access        =   |intro_access|
maxlength           =   |maxlength|
message_footer      <<  END
|message_footer|
END
message_fronter     <<  END
|message_fronter|
END
message_headers     <<  END
|message_headers|
END
moderate            =   |moderate|
moderator           =   |moderator|
mungedomain         =   |mungedomain|
noadvertise         <<  END

END
precedence          =   |precedence|
purge_received      =   |purge_received|
reply_to            =	|reply_to|
resend_host         =
restrict_post       =   |restrict_post|
sender              =   owner-|NAME|
strip               =   |strip|
subject_prefix      =   |subject_prefix|
subscribe_policy    =   |subscribe_policy|
taboo_body          <<  END
|taboo_body|
END
taboo_headers       <<  END
|taboo_headers|
END
unsubscribe_policy  =   |unsubscribe_policy|
welcome             =   |welcome|
which_access        =   |which_access|
who_access          =   |who_access|
