|*if code!=""|
|?TITLE=DirectAdmin - Lost Password Confirmation|
|?DESC=Lost Password Code Confirmation|
|?INSTR=Enter your username and your confirmation code<br> to have a new password emailed to you|

|*else|
|?TITLE=DirectAdmin - Lost Password|
|?DESC=Lost Password|
|?INSTR=Enter your Username and a confirmation link<br> will be sent to your email account.|
|*endif|

<html>
<head>
<title>|TITLE|</title>
<style>
*{ FONT-SIZE: 8pt; FONT-FAMILY: verdana; } b { FONT-WEIGHT: bold; } .listtitle { BACKGROUND: #425984; COLOR: #EEEEEE; white-space: nowrap; } td.list { BACKGROUND: #EEEEEE; white-space: nowrap; } </style>
</head>
<body onLoad="document.form.username.focus();">
<center><br><br><br><br>
<h1>|DESC|</h1>
<table cellspacing=1 cellpadding=5>
<tr>
<td class=listtitle colspan=2>Please enter your Username</td></tr>
<form action="/CMD_LOST_PASSWORD" method="POST" name="form">
<tr><td class=list colspan=2>|INSTR|</td></tr>
<tr><td class=list align=right>Username:</td><td class=list><input type=text name=username value="|username|"></td></tr>
|*if code!=""|
<tr><td class=list align=right>Confirmation Code:</td><td class=list><input type=text name=code value="|code|"></td></tr>

<input type=hidden name=action value="code">
|*else|
<input type=hidden name=action value="request">
|*endif|

<tr><td class=listtitle align=right colspan=2><input type=submit value='Submit'></td></tr>
</form>
</table>
</center></body></html>

